{{- /* Newsletter signup, posting to the same list as the layer5.io footer
  form. A plain HTML form with no script. */ -}}
<form class="newsletter" name="newsletter" method="post" action="https://calcotestudios.us15.list-manage.com/subscribe/post?u=6b50be5aea3dfe1fd4c041d80&amp;id=6bb65defeb">
              <label class="label" for="newsletter-email">Subscribe to our Newsletter</label>
              <div class="newsletter-row">
                <input type="email" id="newsletter-email" name="EMAIL" autocomplete="email" placeholder="Email Address" required>
                <button class="button button-primary" type="submit">Subscribe</button>
              </div>
            </form>
